<aside>
üí° **Question 1**

Given an integer¬†`n`, return¬†*`true`¬†if it is a power of two. Otherwise, return¬†`false`*.

An integer¬†`n`¬†is a power of two, if there exists an integer¬†`x`¬†such that¬†`n == 2x`.

**Example 1:**
Input: n = 1 

Output: true

**Example 2:**
Input: n = 16 

Output: true

**Example 3:**
Input: n = 3 

Output: false

</aside>

In [1]:
def Q1(n):
    if n <= 0:
        return False
    while n > 1:
        if n % 2 != 0:
            return False
        n //= 2
    return True

In [2]:
print(Q1(1)) 
print(Q1(16)) 
print(Q1(3))

True
True
False

<aside>
üí° **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

**Example 2:**

Input  : 5 

Output : 15

</aside>

In [3]:
def sumOfNaturalNumbers(n):
    return (n * (n + 1)) // 2

In [4]:
print(sumOfNaturalNumbers(3))
print(sumOfNaturalNumbers(5))

6
15

<aside>
üí° **Question 3**

****Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [5]:
def factorial(N):
    factorial = 1
    for i in range(1, N + 1):
        factorial *= i
    return factorial

In [6]:
print(factorial(5)) 
print(factorial(4))

120
24

<aside>
üí° **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [7]:
def calculateExponent(N, P):
    result = N ** P
    return result

In [8]:
print(calculateExponent(5, 2)) 
print(calculateExponent(2, 5))

25
32

<aside>
üí° **Question 5**

Given an array of integers¬†**arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>

In [9]:
def findMax(arr):
    length = len(arr)
    if length == 1:
        return arr[0]
    mid = length // 2
    left_max = findMax(arr[:mid])
    right_max = findMax(arr[mid:])
    return max(left_max, right_max)

In [10]:
arr1 = [1, 4, 3, -5, -4, 8, 6]
print(findMax(arr1)) 

arr2 = [1, 4, 45, 6, 10, -8]
print(findMax(arr2))

8
45

<aside>
üí° **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>

In [11]:
def findNthTerm(a, d, N):
    nthTerm = a + (N - 1) * d
    return nthTerm

In [12]:
print(findNthTerm(2, 1, 5)) 
print(findNthTerm(5, 2, 10))

6
23

<aside>
üí° **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = ‚ÄúABC‚Äù*

***Output:***

*‚ÄúABC‚Äù, ‚ÄúACB‚Äù, ‚ÄúBAC‚Äù, ‚ÄúBCA‚Äù, ‚ÄúCBA‚Äù, ‚ÄúCAB‚Äù*

**Example 2:**

***Input:***

*S = ‚ÄúXY‚Äù*

***Output:***

*‚ÄúXY‚Äù, ‚ÄúYX‚Äù*

</aside>

In [13]:
def permutations(S, left, right):
    if left == right:
        print(''.join(S))
    else:
        for i in range(left, right + 1):
            S[left], S[i] = S[i], S[left]  # Swap characters
            permutations(S, left + 1, right)  # Recursive call
            S[left], S[i] = S[i], S[left]  # Restore the original order

def printPermutations(string):
    n = len(string)
    S = list(string)  # Convert the string to a list of characters
    permutations(S, 0, n - 1)

In [14]:
printPermutations("ABC")
printPermutations("XY")

ABC
ACB
BAC
BCA
CBA
CAB
XY
YX

<aside>
üí° **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [15]:
def arrayProduct(arr):
    product = 1
    for num in arr:
        product *= num
    return product

In [16]:
arr1 = [1, 2, 3, 4, 5]
print(arrayProduct(arr1))

arr2 = [1, 6, 3]
print(arrayProduct(arr2))

120
18